<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FreshAlert - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="FreshAlert Logo" class="logo-login">
        <div class="login-container">
            <h2 class="login-title">Zaloguj się do FreshAlert</h2>
            <p class="login-subtitle">Stay always FRESH!</p>
            <form method="POST">
                <label for="login">Login</label>
                <input type="text" id="login" name="login" required>

                <label for="password">Hasło</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Zaloguj się</button>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
